# Global
TZ=Europe/Moscow
DATA_ROOT=./data

# DB
POSTGRES_USER=admin
POSTGRES_PASSWORD=super_secure_password
POSTGRES_DB=homelab

# Grafana
GRAFANA_ADMIN_PASSWORD=super_secure_password

# Jellyfin (ID твоего пользователя в Linux, узнай командой `id -u`)
JELLYFIN_PUID=1000
JELLYFIN_PGID=1000
